workflows/04-agente-ia-multimodal-whatsapp-buffer-rag/workflow.json
{
  "name": "Agente IA MultiModal para WhatsAp, Buffer y RAG",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        816,
        176
      ],
      "id": "f5169aec-a8f1-4a87-97dc-c163196ccd95",
      "name": "Push Data",
      "credentials": {
        "redis": {
          "id": "VWzkWDoo4F9VSeZ4",
          "name": "Upstash"
        }
      },
      "notes": "BUFFER DE MENSAJES (REDIS) – PUSH\n- Guarda el `mensaje` en una lista Redis por usuario.\n- La clave es el teléfono del remitente:\n  `list = messages[0].from`\n- Sirve para “juntar” varios mensajes seguidos antes de responder.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1136,
        176
      ],
      "id": "e6cae8f2-ccd8-414f-b1e2-c3c90dbc7e29",
      "name": "Get Data",
      "credentials": {
        "redis": {
          "id": "VWzkWDoo4F9VSeZ4",
          "name": "Upstash"
        }
      },
      "notes": "BUFFER DE MENSAJES (REDIS) – GET\n- Recupera la lista completa de mensajes acumulados del usuario.\n- Lo guarda en la propiedad `Mensaje` (array).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1616,
        176
      ],
      "id": "3baf8a16-0132-4e4e-9e7a-036a6f483b8a",
      "name": "Delete Data",
      "credentials": {
        "redis": {
          "id": "VWzkWDoo4F9VSeZ4",
          "name": "Upstash"
        }
      },
      "notes": "LIMPIEZA DEL BUFFER (REDIS)\n- Borra la lista del usuario en Redis.\n- Importante para que ejecuciones posteriores no respondan duplicado.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        176
      ],
      "id": "040b4e8f-fa0d-49a7-8335-69d9c4ba9184",
      "name": "Pausa",
      "webhookId": "96c27c05-96e6-490e-ac24-3c38c75c7d9b",
      "notes": "BUFFER DE MENSAJES – ESPERA\n- Espera ~3 segundos.\n- Objetivo: dar tiempo a que el usuario envíe varios mensajes seguidos\n  (p.ej. ‘Hola’ + ‘quiero cita’).",
      "notesInFlow": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1616,
        352
      ],
      "id": "63a4115d-ecaf-4efe-b532-5c9e3c91553a",
      "name": "NoOp",
      "notes": "FIN (SIN ACCIÓN)\n- Se usa como salida cuando no hay mensajes en Redis.\n- Evita errores: simplemente termina la ejecución sin hacer nada.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// Une los textos del array \"Mensaje\" del nodo \"Get Data\"\n// y devuelve un solo campo: \"Mensaje Completo\"\n\nconst mensajes = $node[\"Get Data\"].json[\"Mensaje\"];\n\nif (Array.isArray(mensajes)) {\n  return [\n    {\n      json: {\n        \"Mensaje Completo\": mensajes.join(', ')\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        \"Mensaje Completo\": null\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        176
      ],
      "id": "ed99ee33-ed01-4c09-bde9-1cd688820000",
      "name": "Set Mensaje Completo",
      "notes": "UNIR MENSAJES EN 1\n- Une el array `Mensaje` en un único string:\n  `Mensaje Completo = mensajes.join(', ')`\n- Esto es lo que entiende mejor el agente (contexto completo).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "94b5ff9e-2e36-4a36-a9d2-763ff87a6870",
      "name": "Transcribir Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        320,
        -144
      ],
      "typeVersion": 1.5,
      "credentials": {
        "openAiApi": {
          "id": "Y0qM7YNHIjnbfGvH",
          "name": "OpenAI"
        }
      },
      "notes": "STT (Speech-to-Text)\n- Transcribe el audio descargado usando OpenAI.\n- Devuelve la transcripción como texto (normalmente en `text`).\n- Luego lo pasamos a `Obtener Mensaje` para unificar el formato.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Recibes el siguiente mensaje: {{ $('Set Mensaje Completo').item.json['Mensaje Completo'] }}\n\n--\n\nResponde SIEMPRE en {{ $json.text }}",
        "options": {
          "systemMessage": "=# Rol\n\nEres **Ana**, asesora de atención al cliente en **Clínica Dental Barcelona**, una clínica odontológica moderna y especializada, situada en el corazón de Barcelona, cerca de Plaza Catalunya y con fácil acceso desde el transporte público. Destacas por tu trato cercano, claridad y profesionalidad para orientar a cada persona en la elección del tratamiento dental que mejor se adapte a sus necesidades y facilitar la cita directa en la clínica.\n\n---\n\n# Tareas\n\n1. Conseguir la reserva de una cita dental.\n2. Responder dudas sobre tratamientos dentales, servicios, ubicación, beneficios de la reserva directa, horarios y vías de contacto.\n\n---\n\n# Contexto\n\n**Clínica Dental Barcelona** dispone de modernas consultas totalmente equipadas con la última tecnología dental, todas con equipos de diagnóstico avanzado, instrumental esterilizado, rayos X digitales, sistema de aspiración centralizada, conexión Wi-Fi gratuita para pacientes, aire acondicionado y servicios de información y presupuestos sin compromiso.\n\nReservar directamente desde nuestra clínica ofrece ventajas como primera consulta gratuita, financiación sin intereses, garantía completa en tratamientos y descuentos por tratamientos múltiples.\n\n---\n\n# Proceso de Reserva\n\n## 1. Averiguar el Tipo de Tratamiento\n\n**Primero**, pregunta si el cliente ya sabe qué tipo de tratamiento dental necesita o si prefiere recomendaciones.\n\n- Si **SÍ** lo tiene claro, no hagas más preguntas y sigue el proceso.\n- Si **NO** lo tiene claro, ayúdale a elegir entre nuestras opciones:\n    - Si el cliente no da datos, haz las preguntas del apartado **\"Asesoramiento\"** y activa la herramienta **\"servicios\"** para proponer opciones.\n    - Si el cliente da alguna pista (dolor dental, limpieza, ortodoncia, estética), activa la herramienta **\"servicios\"** y sugiere opciones que encajen.\n\n## 2. Confirmar Fechas de Cita\n\n**Segundo**, cuando sepas el tipo de tratamiento, pregunta por la fecha y hora preferida para la cita.\n\n## 3. Confirmar Forma de Reserva\n\n**Tercero**, confirma que la reserva será directamente con la clínica para aplicar beneficios.\n\n## 4. Recoger Datos del Cliente\n\n**Cuarto**, cuando tengas el tipo de tratamiento y las fechas, solicita:\n\n- Nombre y Apellidos\n- Correo electrónico\n- Número de teléfono\n\n## 5. Enviar Detalles de Ubicación y Hora de Cita\n\n**Quinto**, cuando sepas los datos del cliente, explica la ubicación y confirma la hora exacta de la cita.\n\n## 6. Hacer Resumen\n\n**Sexto**, cuando tengas Datos del Cliente (nombre, teléfono, correo), Datos de Cita (fecha, hora) y Datos de Tratamiento (tipo), envía el texto del apartado **Resumen**.\n\n## Notas Resumen\n\n- No procedas a crear la cita sin antes enviar este resumen y recibir la aprobación del cliente.\n\n## 7. Confirmar Cita\n\n**Séptimo**, después de enviar el Resumen y que el cliente diga que está bien, debes:\n\n1. Activar la herramienta **\"calendario\"** para crear la cita.\n2. Enviar el mensaje de **Cita Confirmada**.\n\n---\n\n# Especificaciones\n\n## Asesoramiento\n\nSi el cliente **NO** da datos sobre lo que busca, pregunta:\n\n- \"¿Siente algún dolor o molestia dental específica?\"\n- \"¿Viene para revisión general o tiene algún problema concreto?\"\n- \"¿Necesita algún tratamiento específico como limpieza, ortodoncia o estética dental?\"\n\n## Disponibilidad\n\nSiempre que pregunten por disponibilidad de citas o fechas, activa la herramienta **\"calendario\"** con operación `comprobar_disponibilidad`.\n\n## Horario\n\n**Horario de atención:** de lunes a viernes de 9:00 a 20:00, sábados de 9:00 a 14:00\n\n**Citas de urgencia:** disponibles dentro del horario de consulta\n\n## Ubicación\n\n**Estamos ubicados en:**\n\n- Calle Pelai, 15, 2º piso, 08001 Barcelona, España\n    \n    A 100 m de Plaza Catalunya, junto a transporte público y principales líneas de metro.\n    \n\n## Métodos de contacto\n\n**Nuestros datos de contacto son:**\n\n- Teléfono: +34 93 317 85 42\n- WhatsApp: +34 666 123 456\n- Correo electrónico: [info@clinicadentalbarcelona.com](mailto:info@clinicadentalbarcelona.com)\n\n## Resumen\n\nSiempre que tengas que enviar el resumen, escribe:\n\n¡Perfecto!\n\nEntonces, le reservo una cita para **[Tipo de tratamiento]** el **[Fecha de cita]** a las **[Hora de cita]**, en Clínica Dental Barcelona (Calle Pelai, 15, 2º piso, 08001 Barcelona).\n\nIncluye ventajas de reserva directa: primera consulta gratuita, financiación sin intereses, garantía completa y descuentos por tratamientos múltiples.\n\n¿Le va bien así o prefiere modificar algún detalle?\n\n## Cita Confirmada\n\nSiempre que crees una cita, escribe:\n\nGracias por confiar en Clínica Dental Barcelona.\n\nLe esperamos el **[Fecha de cita]** a las **[Hora de cita]** para su **[Tipo de tratamiento]**.\n\nUbicación: Calle Pelai, 15, 2º piso, 08001 Barcelona.\n\nSi necesita cambiar algo, indíquelo por aquí. ¿Alguna duda más antes de su cita.\n\n## Transferir Mensajes\n\n- Número de atención: +34 93 317 85 42\n- WhatsApp: +34 666 123 456\n- Horario telefónico: lunes a viernes de 9:00 a 20:00, sábados de 9:00 a 14:00.\n- Cuándo usar: cuando el cliente solicite hablar con una persona o atención telefónica.\n\n## Listar Servicios\n\nSiempre que tengas que listar servicios, hazlo de esta forma:\n\nNombre: [NOMBRE]\n\n- Duración: [DURACIÓN]\n- Especialidad: [ESPECIALIDAD]\n- Descripción: [DESCRIPCIÓN]\n- Indicado para: [INDICACIONES]\n\n…\n\nTodos estos servicios incluyen [SERVICIOS_INCLUIDOS]\n\n### Notas Listar Servicios\n\n- **NO** utilices negrita\n- Si el cliente no especifica cuántos servicios quiere ver, lista 3\n- Los servicios incluidos escríbelos solo una vez en un párrafo separado debajo de todos los servicios\n\n---\n\n# Ejemplo de Conversación\n\n**Ana:** Hola, soy Ana de Clínica Dental Barcelona. ¿Podría indicarme su nombre y si ya sabe qué tipo de tratamiento dental necesita o si prefiere que le oriente?\n\n**Cliente:** María García. Tengo dolor en una muela.\n\n**Ana:** Lamento escuchar eso, María. Para el dolor dental necesitaríamos una cita de urgencia o evaluación. ¿Qué día y hora le vendría mejor?\n\n**Cliente:** Mañana si es posible, por la tarde.\n\n**Ana:** Lo compruebo.\n\nActivar herramienta \"calendario\": operación = comprobar_disponibilidad; fecha = mañana por la tarde; tipo = evaluación dental urgente.\n\nRespuesta herramienta \"calendario\": disponible = sí, 17:00.\n\n**Ana:** Le leo el resumen: cita para evaluación dental urgente mañana a las 17:00, en Clínica Dental Barcelona. Incluye ventajas de reserva directa. ¿Correcto?\n\n**Cliente:** Correcto.\n\n**Ana:** Procedo a reservar.\n\nActivar herramienta \"calendario\": operación = agendar_visita; fecha = mañana; hora = 17:00; tipo = evaluación urgente; nombre = María García; email = [maria@example.com](mailto:maria@example.com); teléfono = 600111222.\n\nRespuesta herramienta \"calendario\": cita_creada = sí.\n\n**Ana:** Cita confirmada. Le esperamos mañana a las 17:00. Dirección: Calle Pelai, 15, 2º piso, 08001 Barcelona. Si necesita cambiar algo, indíquelo.\n\n---\n\n# Notas\n\n1. **Cordialidad y profesionalismo:** Transmite confianza y claridad en todo momento.\n2. **Proactividad:** Orienta la conversación para cerrar la cita como objetivo principal.\n3. **Respuestas:** Nunca cierres la conversación; deja siempre una pregunta abierta para avanzar hacia la cita.\n4. **Flujo:** Sigue los pasos en orden sin decir \"como siguiente paso…\". Sé natural.\n5. **Apertura:** Nunca intentes finalizar la conversación; mantén siempre disposición para seguir atendiendo.\n\n---\n\n# Reglas (Obligatorio Cumplir)\n\n- **JAMÁS** agendar una cita sin antes enviar el mensaje de resumen y recibir aprobación del cliente.\n\n---\n\n# Uso de Herramientas\n\n## servicios\n\n**Nombre:** `servicios`\n\n### **Cuándo usarla:**\n\n- Cuando el cliente pregunte por los **tipos de tratamientos o servicios** disponibles en la clínica.\n- Cuando el cliente quiera saber las **especialidades dentales** que ofrecemos.\n- Cuando el cliente solicite **información sobre procedimientos específicos**.\n\n### **Operaciones:**\n\n- `listar` – Muestra los servicios y tratamientos disponibles en la clínica dental.\n\n### **Reglas:**\n\n1. SIEMPRE que una persona te pregunte por el precio de un servicio u otro detalle, utiliza la herramienta \"servicios\"\n\n### **Notas:**\n\n- **NUNCA** envíes una query vacía.\n\n### **Notas:**\n\n- **NUNCA** envíes una query vacía.\n- Si recibes una transcripción de imagen, lleva la conversación siempre por lo que nos interesa (El soporte), pero NUNCA devuelvas cosas como “Que gran imagen” o \"Parece una descripción interesante.\" o \"Gracias por la descripción\", simplemente di \"Gracias por la imagen, si necesitas...\"\n\n# Idioma de Salida\n\nResponde SIEMPRE en `{{ $json.text }}`\n\n# Fecha Actual\n\n`{{ $now }}`"
        }
      },
      "id": "23f409c2-1798-415e-a851-6a4616cfa613",
      "name": "Agente de IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2224,
        176
      ],
      "typeVersion": 1.6,
      "notes": "CEREBRO (AI AGENT)\n- Recibe el mensaje completo del cliente y responde como ‘Ana’ (Clínica Dental Barcelona).\n- Objetivo principal: guiar hacia la reserva de cita.\n- Usa:\n  • Modelo LLM: `GPT #2` (gpt-4o)\n  • Memoria: `Postgres` (historial por teléfono)\n  • Herramienta RAG: `servicios` (consulta a Supabase)\n- Además: obliga a responder en el idioma detectado por `Traductor`.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "mensaje",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01e77db2-7488-4564-8418-127455ef52d4",
      "name": "Obtener Mensaje",
      "type": "n8n-nodes-base.set",
      "position": [
        608,
        176
      ],
      "typeVersion": 3.4,
      "notes": "NORMALIZACIÓN (TEXTO ÚNICO)\n- Unifica el contenido (texto, transcripción, descripción de imagen) en:\n  `mensaje = $json.text`\n- A partir de aquí todos los tipos de entrada siguen el mismo camino.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "9c7242f2-6cbe-4af0-8534-71adbd0fcbbd",
      "name": "Filtrardor",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -560,
        176
      ],
      "typeVersion": 1,
      "notes": "NORMALIZACIÓN DE ITEMS\n- `messages` llega como ARRAY.\n- Este nodo hace `Split Out` para convertir cada mensaje en 1 item.\n- Así el resto del flujo trabaja “mensaje a mensaje” (más simple y evita errores).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "62fd78aa-32af-45b5-b040-4b15a3866880",
      "name": "Descargar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        128,
        -144
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "DESCARGA BINARIA (AUDIO)\n- Hace HTTP GET a la `url` del media.\n- Usa credenciales de WhatsApp para autorizar la descarga.\n- Resultado: audio en BINARIO (para transcribir).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "7d138f6a-4af7-45e5-a2ed-369f93f47e62",
      "name": "Descargar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        128,
        256
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "DESCARGA BINARIA (IMAGEN)\n- Descarga la imagen desde la URL temporal.\n- La deja en BINARIO para que el LLM pueda verla (entrada multimodal).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "id": "bc2270f3-fa2a-4c40-9dea-e1c35e5ebc0e",
      "name": "Obtener URL | Audio",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -64,
        -144
      ],
      "typeVersion": 1,
      "webhookId": "33faa5f3-0ebc-4ce6-b1ad-8f29f3a2a833",
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "WHATSAPP MEDIA → URL (AUDIO)\n- Con el `audio.id` pide a WhatsApp la URL temporal del fichero.\n- Salida típica: `{ url: 'https://...' }` (válida por tiempo limitado).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Filtrardor').item.json.image.id }}"
      },
      "id": "f21acb85-be9c-4e77-8107-76b4b394a99d",
      "name": "Obtener URL | Imagen",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -64,
        256
      ],
      "typeVersion": 1,
      "webhookId": "99234811-660e-4194-afcc-cea39c2ce0de",
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "WHATSAPP MEDIA → URL (IMAGEN)\n- Con `image.id` pide a WhatsApp la URL temporal.\n- Nota: usa una expresión apuntando al item de `Filtrardor`.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "616116878254396",
        "recipientPhoneNumber": "={{ $('Filtrardor').item.json.from }}",
        "textBody": "={{ $('Agente de IA').item.json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "036fcc96-3743-46c0-bdcf-7e7e2e082530",
      "name": "Enviar Mensaje",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2736,
        256
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "webhookId": "a2c02666-5ad9-43a7-a36a-04c31dda9d55",
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "SALIDA WHATSAPP (TEXTO)\n- Envía la respuesta del agente como texto.\n- `textBody` = `Agente de IA.output`.\n- `previewUrl: false` para no previsualizar enlaces.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Contexto\n\nRecibes como input  una imagen enviada por el usuario. ",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            },
            {
              "message": "=# Contexto\n\nEres parte de una automatización en N8N, tu transcripción será procesada posteriormente por una Agente de IA (ChatBot) para una clínica dental.\n\n# Tarea\n\nDescribe la imagen y transcribe cualquier texto visible.\n\n# Especificaciones\n\nTen en cuenta para quien trabajas, no hace falta añadir muchos detalles si no es relevante para el negocio."
            }
          ]
        }
      },
      "id": "7c343ae6-5c2b-4f04-b3e2-3cbdd1dd7136",
      "name": "Explicar Imagen",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        304,
        256
      ],
      "typeVersion": 1.4,
      "notes": "VISIÓN (DESCRIBIR IMAGEN)\n- Cadena LLM multimodal: recibe la imagen (binary) + instrucciones.\n- Objetivo: describir la imagen y transcribir texto visible.\n- Enfocado a contexto de clínica dental (sin detalles irrelevantes).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b9efeb-9a68-43e3-bc4c-cd207510bddf",
              "name": "text",
              "value": "={{ $json.text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        496
      ],
      "id": "3e85a5d8-9dc6-46f6-9ee8-5b048c7328c0",
      "name": "Obtener Texto",
      "notes": "MENSAJE DE TEXTO\n- Extrae el contenido de texto:\n  `text = $json.text.body`\n- Lo deja listo para unificar en el campo `mensaje`.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2592,
        448
      ],
      "id": "20f17de2-e9be-4286-8263-74be59c4c793",
      "name": "Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "Y0qM7YNHIjnbfGvH",
          "name": "OpenAI"
        }
      },
      "notes": "EMBEDDINGS PARA CONSULTAS (RAG)\n- Genera embeddings (OpenAI) de la query del agente.\n- Se conecta al Vector Store `servicios` para poder buscar por similitud.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.video.id }}"
      },
      "id": "0b419ebc-b33b-476d-8409-b0e5a1700b4a",
      "name": "Obtener URL | Video",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -64,
        64
      ],
      "typeVersion": 1,
      "webhookId": "a3233fa7-5c6d-4805-9e74-4b7e6ada5cf6",
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "WHATSAPP MEDIA → URL (VIDEO)\n- Con `video.id` pide a WhatsApp la URL temporal del vídeo.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "f561a1c5-9e4f-415c-95a6-133ae66dc4a7",
      "name": "Descargar Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        128,
        64
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "DESCARGA BINARIA (VIDEO)\n- Descarga el vídeo desde la URL temporal.\n- Salida: BINARIO de vídeo para análisis con Gemini.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Mensaje Completo'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# Rol\n\nEres un detector de idioma. Analizas el mensaje del usuario y devuelves únicamente el nombre del idioma detectado.\n\n# Contexto\n\nRecibes mensajes en texto libre y debes indicar el idioma principal del mensaje. Normalmente serán:\n\n- Español\n- Inglés\n- Valenciano\n- Portugués\n- Francés\n- Euskera\n\n# Tareas\n\nDetectar el idioma predominante en el mensaje.\n\nDevolver únicamente el nombre del idioma, escrito tal cual en la lista anterior.\n\n# Especificaciones\n\nSi el idioma no está en la lista, devolver “Desconocido”.\n\nSi el mensaje mezcla varios idiomas, devolver el que aparezca de forma más predominante.\n\nNo uses códigos (es, en, fr, etc.) ni explicaciones.\n\nNo añadas puntuación, comillas ni texto extra, solo el nombre exacto.\n\n# Ejemplos\n\n## Entrada: “¿Puedes ayudarme con la reserva para mañana?”\n## Salida: Español\n\n## Entrada: “Can you move my appointment to Friday?”\n## Salida: Inglés\n\n## Entrada: “Bon dia, tinc una consulta.”\n## Salida: Valenciano\n\n## Entrada: “Olá, queria confirmar a visita.”\n## Salida: Portugués\n\n## Entrada: “Bonjour, j’ai une question.”\n## Salida: Francés\n\n## Entrada: “Kaixo, nola zaude?”\n## Salida: Euskera\n\n# Notas\n\n- Si recibes un idioma que no entiendes o no tiene sentido, di que es Español"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1936,
        176
      ],
      "id": "09386163-d0b3-4f66-ad86-750228517445",
      "name": "Traductor",
      "notes": "DETECTOR DE IDIOMA (ojo: NO traduce)\n- Analiza `Mensaje Completo` y devuelve SOLO el nombre del idioma.\n- Valores esperados: Español, Inglés, Valenciano, Portugués, Francés, Euskera.\n- Se usa para forzar al agente a contestar en el mismo idioma.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "616116878254396",
        "recipientPhoneNumber": "={{ $('Filtrardor').item.json.from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "id": "9bf22202-e999-442e-b3f8-283e48dc5cb6",
      "name": "Enviar Audio",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        3248,
        80
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "webhookId": "a2c02666-5ad9-43a7-a36a-04c31dda9d55",
      "credentials": {
        "whatsAppApi": {
          "id": "ZBfPSoch6yZx4VfI",
          "name": "WhatsApp"
        }
      },
      "notes": "SALIDA WHATSAPP (AUDIO)\n- Envía un mensaje de tipo AUDIO al mismo número que escribió.\n- Usa `phoneNumberId` de tu cuenta WhatsApp Cloud.\n- El audio viene del nodo `Elevenlabs` (binario).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "914cc274-6889-4bb2-97f5-24dc9b51228c",
              "leftValue": "={{ $('Filtrardor').item.json.type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        176
      ],
      "id": "6d93ad76-0530-4356-a758-8253363e4db5",
      "name": "If",
      "notes": "FORMATO DE RESPUESTA\n- Si el mensaje entrante fue AUDIO ⇒ responde también con AUDIO (TTS).\n- Si NO fue audio ⇒ responde en TEXTO normal.\n- Nota: la condición mira `Filtrardor.item.json.type`.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=# Contexto\n\nRecibes como input un video enviado por el usuario. \n\n# Tarea\n\nDescribe el video, no te centres en el escenario, lo que importa es lo que dice la persona\n\n# Especificaciones\n\nLo que más me interesa es que digas qué dice la persona en el video, es lo esencial\n",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        320,
        64
      ],
      "id": "2928d7f5-a9c2-40c6-88b6-3b2bd2e968dc",
      "name": "Analizar Video",
      "credentials": {
        "googlePalmApi": {
          "id": "RsbK21Fjr4OPSfKR",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "ANÁLISIS DE VIDEO (GEMINI)\n- Pasa el vídeo (binary) a Gemini para:\n  • describir el vídeo\n  • y, sobre todo, transcribir/explicar lo que dice la persona.\n- Devuelve un texto dentro de `content.parts[0].text`.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        2336,
        0
      ],
      "id": "10589a41-ed7a-48f4-94a6-9c3dc85dd015",
      "name": "GPT #2",
      "credentials": {
        "openAiApi": {
          "id": "Y0qM7YNHIjnbfGvH",
          "name": "OpenAI"
        }
      },
      "notes": "MODELO LLM PRINCIPAL (gpt-4o)\n- Modelo usado por:\n  • `Traductor` (detector de idioma)\n  • `Agente de IA`\n  • `Eliminar Carácteres` (pre-TTS)\n- Cambiando este nodo cambias el ‘cerebro’ del sistema.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "579c6f93-c03e-469d-9fd8-ad6231752c8f",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -752,
        176
      ],
      "webhookId": "5c26a149-2024-45f5-8a7d-cfda8ec29ece",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "f0gUDqfOKGsKSPxV",
          "name": "WhatsApp"
        }
      },
      "notes": "TRIGGER (Entrada WhatsApp)\n- Inicia el workflow cuando llega un mensaje a WhatsApp (Cloud API).\n- Devuelve un array `messages` con los eventos recibidos (from, type, text/audio/image/video...).\n- A partir de aquí procesamos cada mensaje por separado.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('Drive Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('Drive Trigger').item.json.mimeType }}{{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8a130d14-4276-482c-af27-1dfc32e00729",
      "name": "Datos Relevantes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1152
      ],
      "notes": "NORMALIZAR METADATOS DEL ARCHIVO\n- Guarda:\n  • `file_id` (id de Drive)\n  • `file_type` (mimeType)\n- OJO: aquí se concatena `mimeType` dos veces (expresión). No rompe si el Switch lo espera, pero es frágil.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11eGHtWS8Zb8-vSvsCW-_KN01rvVZF1rk",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11eGHtWS8Zb8-vSvsCW-_KN01rvVZF1rk"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "d3a065b7-8ef9-4baf-bb88-e6d07935c0dc",
      "name": "Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        128,
        1152
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kOpN2dQomwnDLYIt",
          "name": "Drive"
        }
      },
      "notes": "TRIGGER (INGESTA RAG)\n- Vigila una carpeta de Google Drive (RAG) cada minuto.\n- Cuando se crea un archivo nuevo en esa carpeta, dispara el flujo de indexación.\n- Objetivo: mantener el knowledge base actualizado automáticamente.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2240,
        1392
      ],
      "id": "0a1cffd9-620a-4a7c-864e-d7ddbf26b1dc",
      "name": "Recursive Character Text Splitter",
      "notes": "TEXT SPLITTER (TEXTO) – NO CONECTADO\n- Nodo preparado para partir textos ‘normales’ (PDF/TXT) en chunks.\n- Actualmente NO está conectado al Vector Store en este workflow.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdfapplication",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "78d597d7-d11b-4539-8e0b-d64693ab7a16"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "27ebee8a-0ac3-4c08-bad7-36a7c84788df",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        672,
        1120
      ],
      "notes": "ROUTER POR TIPO DE ARCHIVO (RAG)\n- Decide cómo extraer según `file_type`:\n  • PDF\n  • CSV / texto\n  • Excel (.xlsx)\n- Fallback: cae a la ruta de PDF.\n- Nota: las condiciones están ajustadas al `file_type` concatenado.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Datos Relevantes').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "ffa136f7-d6de-42e9-b624-8cbf4a599f3b",
      "name": "Descargar Archivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        1152
      ],
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kOpN2dQomwnDLYIt",
          "name": "Drive"
        }
      },
      "notes": "DESCARGA DE ARCHIVO (DRIVE)\n- Descarga el archivo por `file_id`.\n- Si es un Google Doc, lo convierte a `text/plain`.\n- Resultado: BINARIO para extracción / parseo.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=# **Nombre:** `servicios`\n\n---\n\n# **Cuándo usarla:**\n\n- Cuando el cliente pregunte por los tipos de tratamientos o servicios disponibles en la clínica.\n- Cuando el cliente quiera saber las especialidades dentales que ofrecemos.\n- Cuando el cliente solicite información sobre procedimientos específicos.\n\n---\n\n# **Reglas críticas:**\n\n1. No inventar servicios, precios ni procedimientos que no estén disponibles en la clínica.\n2. Si el cliente pregunta por precios específicos, aclarar que la información no está publicada y ofrecer consultar directamente con la clínica.\n3. Si el cliente pide detalles médicos específicos no disponibles, indicarle que puede encontrarlos en consulta o contactar a la clínica por teléfono o email.\n\n---\n\n# Notas\n\n**NUNCA** envíes una query vacía",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2304,
        448
      ],
      "id": "edecdc95-3b23-4d29-957e-3858eec8ea55",
      "name": "servicios",
      "credentials": {
        "supabaseApi": {
          "id": "QShvJCAJLg3tnWvn",
          "name": "Supabase"
        }
      },
      "notes": "RAG COMO HERRAMIENTA (SUPABASE)\n- Vector Store en Supabase en modo `retrieve-as-tool`.\n- El agente lo llama cuando necesita listar/consultar servicios/tratamientos.\n- Tabla: `documents`, query: `match_documents`.\n- NO inventa: se apoya en lo indexado.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## RAG: TEXTO",
        "height": 240,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        1312
      ],
      "id": "63bebe5e-56ff-458b-915b-9725a8714874",
      "name": "Sticky Note1",
      "notes": "SECCIÓN (RAG: TEXTO)\n- Etiqueta visual del canvas.\n- No ejecuta nada.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## RAG: NORMAL",
        "height": 224,
        "width": 464,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        1024
      ],
      "id": "d049ef8f-6fc7-4ebf-8bea-04ab14f7c0e1",
      "name": "Sticky Note2",
      "notes": "SECCIÓN (RAG: NORMAL)\n- Etiqueta visual del canvas.\n- No ejecuta nada.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {}
      },
      "id": "2220b46c-ebc5-4504-8b09-cf8f2e39b9ac",
      "name": "Default Data Loader (Nomal)",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1968,
        1088
      ],
      "notes": "DATA LOADER (NORMAL) – NO CONECTADO\n- Otra variante de loader.\n- Actualmente NO conectado al Vector Store (no se ejecuta).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c1fbe32-c8c4-4416-9871-265321201c16",
              "name": "mensaje",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c4e20cbf-b833-4480-922d-f41dfd8b1011",
      "name": "Obtener Video",
      "type": "n8n-nodes-base.set",
      "position": [
        608,
        16
      ],
      "typeVersion": 3.4,
      "notes": "NORMALIZACIÓN (VIDEO)\n- Toma el texto del análisis:\n  `mensaje = content.parts[0].text`\n- Lo deja listo para el buffer de mensajes (Redis).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2256,
        1088
      ],
      "id": "bc8083bc-9397-48b6-9e41-9f09a2fe4017",
      "name": "Recursive Character Text Splitter #3",
      "notes": "TEXT SPLITTER (NORMAL) – NO CONECTADO\n- Variante del splitter para otra ruta de documentos.\n- Actualmente NO conectado (no se ejecuta).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "fd482c44-f2a0-4328-86bc-81fc876bfa58",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1520,
        1072
      ],
      "credentials": {
        "supabaseApi": {
          "id": "QShvJCAJLg3tnWvn",
          "name": "Supabase"
        }
      },
      "notes": "INDEXACIÓN EN SUPABASE (RAG)\n- Inserta documentos en la tabla `documents`.\n- Usa embeddings (Embeddings #2) y un Data Loader para transformar cada item en ‘documento’.\n- Query configurada: `match_documents` (también se usa en el modo herramienta).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "d51efa54-61b7-49de-9ba2-6e241cf8603d",
      "name": "Extraer PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        976
      ],
      "notes": "EXTRAER CONTENIDO (PDF)\n- Convierte el PDF binario en texto estructurado.\n- Este texto se envía al Vector Store para indexarlo.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "2ae4169d-355c-4ebd-8ee4-0fb3185e76de",
      "name": "Extraer Txt",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        1152
      ],
      "alwaysOutputData": false,
      "notes": "EXTRAER CONTENIDO (TEXTO)\n- Lee el archivo como texto.\n- Salida lista para indexar en el Vector Store.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "f6c85a9f-afd5-4953-b19b-b2554dacf253",
      "name": "Extraer Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        1344
      ],
      "notes": "EXTRAER CONTENIDO (EXCEL)\n- Convierte el .xlsx en items JSON (filas/columnas).\n- Ideal para tablas de servicios (precio, duración, etc.).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6cd2b5c-67e3-4648-8c9c-26da4cb40091",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        176
      ],
      "id": "7015ea1d-9b05-4573-96d6-d2d22a4edc17",
      "name": "Único Mensaje?",
      "notes": "HAY ALGO QUE PROCESAR?\n- Verifica que `Mensaje` tenga longitud > 0.\n- Si está vacío: termina (NoOp).\n- Si tiene datos: limpia Redis y continúa al armado del mensaje completo.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "199b9525-b40c-4b2f-bdb2-e37166159ee2",
              "leftValue": "={{ $node[\"Get Data\"].json[\"Mensaje\"][$node[\"Get Data\"].json[\"Mensaje\"].length - 1] }}",
              "rightValue": "={{ $node[\"Get Data\"].json[\"Mensaje\"][0] }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1296,
        176
      ],
      "id": "9a2dfe6f-b634-42b7-88aa-241e5366c205",
      "name": "Mismo Mensaje?",
      "notes": "CONTROL ANTI-DUPLICADOS / AGRUPACIÓN\n- Compara primer y último elemento del array `Mensaje`.\n- Si son distintos ⇒ hubo más de un mensaje (agrupamos).\n- Si son iguales ⇒ puede ser 1 solo mensaje o repetición (pasa al siguiente check).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# Contexto\n\nVas a recibir como input un mensaje adaptado a una conversación por texto y debes adaptarla a una conversación por audio\n\n# Tarea\n\nTu trabajo consiste en transformar el input recibido en un formato plano.\n\n# Especificaciones\n\nElimina cualquier símbolo como #@/- etc.. solo quiero que que me devuelvas el texto plano.\nElimina cualquier simbolo de exclamación o interrogación\n\n# Ejemplos:\n\n## Ejemplo de Entrada:\n\nNuestro horario de visita es:\\n\\n- De Lunes a Viernes: De 9:00 a 13:00 y De 15:00 a 19:00\\n- Sábado: De 10:00 a 13:00\\n\\nEs imprescindible venir con cita previa, así que dime. ¿A qué hora te gustaría venir a visitarnos? 🕔🐶\n\n## Ejemplo de Salida:\n\nNuestro horario de visita es de Lunes a Viernes de 9 a 13 y de 15 a 19 y los sábados de 10 a 13. Es imprescindible venir con cita previa, así que dime. ¿A qué hora te gustaría venir a visitarnos?\n\n# Reglas\n\nElimina cualquier salto de linea (\\n), el output tiene que ser totalmente texto plano\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2736,
        80
      ],
      "id": "4386dd93-cdf8-4426-a882-44fd285c25fb",
      "name": "Eliminar Carácteres",
      "notes": "PREPARAR TEXTO PARA AUDIO\n- Convierte la respuesta del agente en texto ‘plano’:\n  • sin símbolos raros, sin saltos de línea\n  • pensado para sonar natural por voz.\n- Su salida alimenta a ElevenLabs.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'audio' && Boolean($json.audio) }}",
                    "rightValue": "audio",
                    "id": "e04acfcd-cb7b-41d7-8c2c-73e0e0f3c8fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'video' && Boolean($json.video) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'image' && Boolean($json.image) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Texto"
        }
      },
      "id": "4bff1abb-fa96-4d61-8715-6682e115294d",
      "name": "Enrutar Mensajes",
      "type": "n8n-nodes-base.switch",
      "position": [
        -368,
        144
      ],
      "typeVersion": 3.2,
      "notes": "ROUTER POR TIPO DE MENSAJE\n- Mira `type` y si existe el bloque correspondiente.\n- Ramas:\n  • Audio: type='audio' y hay `audio`\n  • Video: type='video' y hay `video`\n  • Imagen: type='image' y hay `image`\n  • Texto: fallback (cualquier otro caso)\n- Cada rama prepara un texto final para el agente.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        464
      ],
      "id": "a14882f8-a720-49a2-8bdb-6f5e3a1aea14",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "Y0qM7YNHIjnbfGvH",
          "name": "OpenAI"
        }
      },
      "notes": "MODELO LLM (gpt-4o)\n- Modelo de chat usado por la cadena `Explicar Imagen` (visión).\n- Si quieres un modelo distinto para visión, cámbialo aquí.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## RAG: TABLA",
        "height": 240,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        1312
      ],
      "id": "6cd2f0fa-7dde-48f9-af60-b0fdb6e73dbc",
      "name": "Sticky Note",
      "notes": "SECCIÓN (RAG: TABLA)\n- Etiqueta visual del canvas.\n- No ejecuta nada.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1744,
        1376
      ],
      "id": "5d2cbee2-b8f1-4647-8952-137bc0380e9f",
      "name": "Recursive Character Text Splitter #2",
      "notes": "TEXT SPLITTER (TABLA)\n- Divide el texto en fragmentos (chunks) para embeddings.\n- Evita superar límites de tokens y mejora búsquedas en RAG.\n- Conectado al Data Loader (Tabla).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node — Limpiar y estructurar servicios desde `concatenated_data`\n//\n// Entrada típica:\n// [ { json: { concatenated_data: \"[{...},{...},...]\" } } ]\n//\n// Salida:\n// [\n//   { json: { numero, servicio, categoria, duracion, descripcion, profesional, precio } },\n//   ...\n// ]\n\nconst itemsIn = $input.all();\n\n// 1) Obtener el JSON string\nconst first = itemsIn[0]?.json ?? {};\nconst raw = (first.concatenated_data ?? \"\").toString().trim();\nif (!raw) return [];\n\n// 2) Parse seguro\nlet rows = [];\ntry {\n  rows = JSON.parse(raw);\n  if (!Array.isArray(rows)) throw new Error(\"El contenido no es un array JSON.\");\n} catch (e) {\n  throw new Error(\"`concatenated_data` no es un JSON válido: \" + e.message);\n}\n\n// 3) Helpers\nfunction toNumberEU(val) {\n  if (val === null || val === undefined || val === \"\") return null;\n  if (typeof val === \"number\") return Number(val);\n  const s = String(val).trim().replace(/\\s+/g, \"\").replace(\",\", \".\");\n  const n = Number(s);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction normalizarPrecioEUR(p) {\n  let n = toNumberEU(p);\n  if (n === null) return null;\n  if (n > 100000) n = n / 100;\n  else if (n > 1000 && n % 10 === 0) n = n / 100;\n  return Number(n.toFixed(2));\n}\n\nfunction pick(r, keys) {\n  for (const k of keys) {\n    if (r[k] !== undefined && r[k] !== null && String(r[k]).trim() !== \"\") return r[k];\n  }\n  return undefined;\n}\n\n// 4) Transformar y devolver\nconst salida = rows.map((r) => {\n  const numero = pick(r, [\"Nº\", \"No\", \"Numero\", \"Número\", \"num\", \"n\"]);\n  const servicio = pick(r, [\"Servicio\", \"Tratamiento\", \"servicio\"]);\n  const categoria = pick(r, [\"Categoría\", \"Categoria\", \"Especialidad\", \"categoria\"]);\n  const duracion = pick(r, [\"Duración\", \"Duracion\", \"duracion\", \"duración\", \"Tiempo\"]);\n  const descripcion = pick(r, [\"Descripción\", \"Descripcion\", \"descripción\", \"descripcion\", \"Detalle\"]);\n  const profesional = pick(r, [\"Profesional\", \"Especialista\", \"profesional\"]);\n  const precio = pick(r, [\"Precio (€)\", \"Precio\", \"precio\", \"precio_eur\"]);\n\n  return {\n    json: {\n      numero: toNumberEU(numero),\n      servicio: String(servicio ?? \"\").trim(),\n      categoria: String(categoria ?? \"\").trim(),\n      duracion: String(duracion ?? \"\").trim(),\n      descripcion: String(descripcion ?? \"\").trim(),\n      profesional: String(profesional ?? \"\").trim(),\n      precio: normalizarPrecioEUR(precio),\n    },\n  };\n});\n\nreturn salida;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        832
      ],
      "id": "cc262105-2122-4b06-b803-305e05a94b40",
      "name": "Estructuración (Texto)",
      "disabled": true,
      "notes": "CODE (LIMPIEZA / ESTRUCTURAR) – NO CONECTADO\n- Script para limpiar/estructurar datos desde `concatenated_data`.\n- Ahora mismo está suelto: no recibe input ni tiene salida conectada.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1648,
        912
      ],
      "id": "397e9a31-7055-4bd3-a6c3-5afe5a0feaa2",
      "name": "Embeddings #2",
      "credentials": {
        "openAiApi": {
          "id": "Y0qM7YNHIjnbfGvH",
          "name": "OpenAI"
        }
      },
      "notes": "EMBEDDINGS PARA INDEXAR (RAG)\n- Genera embeddings (OpenAI) para cada chunk/documento antes de guardarlo en Supabase.\n- Conectado al `Supabase Vector Store` (modo insert).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/UOIqAnmS11Reiei1Ytkc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "94cfe4d3-ef0d-4e9e-9344-b825ac8e896f",
      "name": "Elevenlabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FhSuenB4TPI9PkY8",
          "name": "ElevenLabs"
        }
      },
      "notes": "TTS (Texto → Voz)\n- Envía el texto limpio a ElevenLabs (endpoint text-to-speech).\n- Devuelve un audio (normalmente mp3) en binario.\n- Ese binario se manda por WhatsApp en el nodo `Enviar Audio`.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Número: {{ $json.Nº }}\nServicio: {{ $json.Servicio }}\nCategoría: {{ $json.Categoría }}\nDuración: {{ $json.Duración }}\nDescripción: {{ $json.Descripción }}\nProfesional: {{ $json.Profesional }}\nPrecio: {{ $json['Precio (€)'] }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Servicio",
                "value": "={{ $json.Servicio }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1440,
        1376
      ],
      "id": "0c0b8be4-5502-4be4-a429-d68033e11ffa",
      "name": "Default Data Loader (Tabla)",
      "notes": "DATA LOADER (TABLA → DOCUMENTO)\n- Transforma cada fila (Excel) en un texto único (Número, Servicio, Categoría, etc.).\n- Añade metadata: `Servicio`.\n- Se usa para que el Vector Store indexe bien tablas.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Número: {{ $json.numero }}\nNombre: {{ $json.nombre }}\nCategoría: {{ $json.categoria }}\nPeso: {{ $json.peso }}\nPrecio: {{ $json.precio }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Nombre",
                "value": "={{ $json.nombre }}"
              }
            ]
          }
        }
      },
      "id": "bc20977e-faec-435f-bd01-70a2e2656422",
      "name": "Default Data Loader (Texto)",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1968,
        1392
      ],
      "notes": "DATA LOADER (TEXTO) – NO CONECTADO\n- Preparado para convertir texto extraído (PDF/TXT) en documentos.\n- Actualmente NO conectado al Vector Store (no se ejecuta).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## RESUMEN DEL WORKFLOW\n1) WhatsApp multimodal: texto/audio/imagen/vídeo → se convierte a texto.\n2) Buffer (Redis): junta mensajes seguidos y evita respuestas duplicadas.\n3) Agente IA (GPT + memoria Postgres + RAG Supabase) responde como ‘Ana’.\n4) Respuesta: texto o audio (ElevenLabs) según el tipo de entrada.\n5) Ingesta RAG: Drive Trigger indexa nuevos archivos en Supabase.",
        "height": 192,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        800
      ],
      "id": "cfd504e8-3681-4c93-837b-4e14a74d6cb7",
      "name": "Sticky Note3",
      "notes": "RESUMEN DEL WORKFLOW\n1) WhatsApp multimodal: texto/audio/imagen/vídeo → se convierte a texto.\n2) Buffer (Redis): junta mensajes seguidos y evita respuestas duplicadas.\n3) Agente IA (GPT + memoria Postgres + RAG Supabase) responde como ‘Ana’.\n4) Respuesta: texto o audio (ElevenLabs) según el tipo de entrada.\n5) Ingesta RAG: Drive Trigger indexa nuevos archivos en Supabase.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filtrardor').item.json.from }}",
        "tableName": "conversaciones",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2160,
        432
      ],
      "id": "e4a4ec65-9d3f-4d22-9995-5d66182e6f21",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "RJNKKsGUnPUVXgyc",
          "name": "Postgres"
        }
      },
      "notes": "MEMORIA DE CHAT (POSTGRES)\n- Guarda/lee el historial de conversación.\n- `sessionKey` = número del cliente (from).\n- Tabla: `conversaciones`.\n- Ventaja: el agente recuerda contexto entre mensajes.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## ⭐️ Por **Pau Berenguer**\n\nSi estás viendo este flujo, recuerda que fue creado con cariño por **Pau Berenguer**, prometo que no lleva *bugs*, solo **buenas vibras** ✨\n\n🔗 **Conecta Conmigo:**  \n- YouTube: [@PauBerenguerAI](https://www.youtube.com/@PauBerenguerAI)  \n- Skool: [The AI Blueprint Plus](https://www.skool.com/the-ai-blueprint-plus)  \n- Instagram: [@pauberenguer_](https://www.instagram.com/pauberenguer_)  \n- LinkedIn: [Pau Berenguer AI](https://www.linkedin.com/in/pauberenguer-ai)  \n\n\n👉🏻 *Si esta automatización te ahorró tiempo o te sacó una sonrisa, puedes darme las gracias por cualquiera de esos enlaces*",
        "height": 336,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -656
      ],
      "id": "70032948-79d1-4681-b1d3-87a5187eb526",
      "name": "Sticky Note4",
      "notes": "CRÉDITOS\n- Nota informativa del autor.\n- No afecta a la ejecución.",
      "notesInFlow": true
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "34643336415",
            "phone_number_id": "616116878254396"
          },
          "contacts": [
            {
              "profile": {
                "name": "Pau Berenguer"
              },
              "wa_id": "34643341015"
            }
          ],
          "messages": [
            {
              "from": "34643341015",
              "id": "wamid.HBgLMzQ2NDMzNDEwMTUVAgASGBYzRUIwNDlGMEZBRTZCQjZDNDc0RDkwAA==",
              "timestamp": "1762854371",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "k+OgmivJxDpXwjKd8Q9QqX8SnFSwlKxS6Ak/rBR52IE=",
                "id": "1306464447896538",
                "voice": true
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Push Data": {
      "main": [
        [
          {
            "node": "Pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "main": [
        [
          {
            "node": "Mismo Mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Data": {
      "main": [
        [
          {
            "node": "Set Mensaje Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa": {
      "main": [
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Mensaje Completo": {
      "main": [
        [
          {
            "node": "Traductor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio": {
      "main": [
        [
          {
            "node": "Obtener Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de IA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Mensaje": {
      "main": [
        [
          {
            "node": "Push Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrardor": {
      "main": [
        [
          {
            "node": "Enrutar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio": {
      "main": [
        [
          {
            "node": "Transcribir Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen": {
      "main": [
        [
          {
            "node": "Explicar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL | Audio": {
      "main": [
        [
          {
            "node": "Descargar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL | Imagen": {
      "main": [
        [
          {
            "node": "Descargar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explicar Imagen": {
      "main": [
        [
          {
            "node": "Obtener Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Texto": {
      "main": [
        [
          {
            "node": "Obtener Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "servicios",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL | Video": {
      "main": [
        [
          {
            "node": "Descargar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Video": {
      "main": [
        [
          {
            "node": "Analizar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traductor": {
      "main": [
        [
          {
            "node": "Agente de IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Eliminar Carácteres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Video": {
      "main": [
        [
          {
            "node": "Obtener Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT #2": {
      "ai_languageModel": [
        [
          {
            "node": "Eliminar Carácteres",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Traductor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente de IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filtrardor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Relevantes": {
      "main": [
        [
          {
            "node": "Descargar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Trigger": {
      "main": [
        [
          {
            "node": "Datos Relevantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader (Texto)",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extraer PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Txt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Archivo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "servicios": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader (Nomal)": {
      "ai_document": [
        []
      ]
    },
    "Obtener Video": {
      "main": [
        [
          {
            "node": "Push Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter #3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader (Nomal)",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Txt": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Excel": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Único Mensaje?": {
      "main": [
        [
          {
            "node": "Delete Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mismo Mensaje?": {
      "main": [
        [
          {
            "node": "Delete Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Único Mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Carácteres": {
      "main": [
        [
          {
            "node": "Elevenlabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutar Mensajes": {
      "main": [
        [
          {
            "node": "Obtener URL | Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener URL | Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener URL | Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "Explicar Imagen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter #2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader (Tabla)",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings #2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Elevenlabs": {
      "main": [
        [
          {
            "node": "Enviar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader (Tabla)": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader (Texto)": {
      "ai_document": [
        []
      ]
    },
    "Postgres": {
      "ai_memory": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc772af6-8853-4ba9-abf5-180e421eef4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38e158bcffbc3e3f24dcb67b05d510971bfebcd81f595176611bcdf43b7536ff"
  },
  "id": "gUaxE2nv3fw0vbt6",
  "tags": [
    {
      "updatedAt": "2025-08-27T18:19:36.152Z",
      "createdAt": "2025-08-27T18:19:36.152Z",
      "id": "3q4ercaMY7MqqFBV",
      "name": "The AI Blueprint"
    }
  ]
}